<div class="left-content-wrap">
  <div class="animated fadeInUp container">
    <h1>About</h1>
    <p>Welcome to <span>Scribble</span>.<br>
      Scribble was created so you can take your journal where ever you go. Whether you're on a your laptop or cell
      phone. Think of it as your digital side-kick. Whenever you need to make a journal entry, we have you covered!
      Create an account to start your journal.
    </p>
    <p>1.0.0</p>
  </div>
</div>
{{!-- Right side img --}}
<div class="animated fadeInRight right-content-wrap"></div>