<div class="animated fadeInLeft bg-image jumbotron text-center">
  <h1 class="display-3">{{ title }}</h1>
  <p class="lead">Sign-up now to begin making journal entries. IT'S FREE</p>
  <a href="/ideas/add" class="btn btn-warning btn-lg">Add journal entry</a>
</div>