<h3>Journal Entry</h3>
<form action="/ideas" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title">
  </div>

  <div class="form-group">
    <label for="details">What's on your mind?</label>
    <textarea class="text-box form-control" name="details"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Submit Entry</button>
</form>
</div>
</div>